.App {
  text-align: center;
  min-height: 100vh;
  background-color:#020030;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button#walletButton {
  flex: none;
  flex: 0;
  width: auto;
  margin: auto;
  font-family: BudBold, sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
img.image {
  width: 100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: pt-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.body {
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-bottom: 160px;
  padding-left: 20px;
  background-color: #09053e;
  text-align: center;
}

.navbar {
  display: none;
  background-color: #000;
}

.page-width {
  display: block;
  width: 100%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-width.header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-width.header._22 {
  padding-bottom: 20px;
}

.page-width.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1024px;
  min-height: 55vh;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.page-width.main-content.home1 {
  display: block;
  height: auto;
  max-height: none;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-width.footer {
  position: relative;
}

.page-width.footer._22 {
  display: none;
}

.imgwrapper {
  width: 80px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.text-block {
  color: #fff;
  text-align: center;
}

.section {
  border-top: 2px solid #fff;
}

.buy-button {
  display: none;
}

.image {
  text-align: center;
}

.redirect-section {
  position: static;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 40px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 550ms ease;
  transition: opacity 550ms ease;
  text-align: center;
  margin-top: 0 !important;
  display: flex;
}

.button {
  margin-right: auto;
  margin-left: auto;
  padding: 14px 50px;
  background-color: #db0019;
  font-family: din-condensed, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.heading {
  display: block;
  overflow: visible;
  margin: 0px auto 20px;
  -webkit-transition: opacity 650ms ease;
  transition: opacity 650ms ease;
  font-family: din-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 28px;
  line-height: 50px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1px;
}

.heading.home {
  display: none;
}

.heading.mobile {
  font-weight: 400;
  letter-spacing: 1px;
  font-size:94px;
  line-height: 70px;
  font-size: 60px;
    line-height: 60px;
    text-align: center;
}

.paragraph {
  display: block;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  font-family: pt-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
}

.paragraph.home {
  display: none;
}

.paragraph._22 {
  display: none;
}

.bold-text {
  color: #444;
  font-size: 12px;
  text-align: right;
}

.html-embed {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -o-object-fit: fill;
  object-fit: fill;
}

.button-2 {
  display: block;
  padding: 16px 40px;
  background-color: #db0019;
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.button-2._22 {
  display: none;
}

.button-2._222 {
  display: none;
  background-color: #db0019;
  color: #fff;
}

.section-2 {
  height: 200px;
  min-height: 200px;
}

.form-block {
  display: none;
}

.html-embed-2 {
  display: none;
}

@media screen and (max-width: 479px) {
  .body {
    padding-bottom: 0px;
  }

  .page-width.header {
    margin-bottom: 0px;
    padding-bottom: 20px;
  }

  .page-width.main-content {
    height: auto;
    max-height: none;
    min-height: auto;
    padding-top: 0px;
    background-color: rgba(0, 0, 0, 0.41);
  }

  .redirect-section {
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 0px;
  }

  .heading {
    max-width: 100%;
    font-size: 24px;
    font-weight: 700;
  }

  .heading.mobile {
    overflow: visible;
    padding-top: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 23px;
    line-height: 44px;
    font-weight: 400;
    letter-spacing: 2px;
    white-space: normal;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .paragraph {
    font-size: 16px;
    line-height: 25px;
  }
}

.button-2.w-button {
  
  
  font-family: BudBold, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  font-weight: 700;
  text-decoration: none !important;
  text-transform: uppercase !important;
  display: block;
  padding: 16px 60px;
  border-radius: 20px;
  background-color: #db0019;
  color: #fff;
  font-size: 22px;
  margin-top: 0 !important;
  cursor: pointer;
}


@media screen and (max-width: 700px) {
  .page-width.main-content{
    min-height: 25vh !important;
    height: auto !important; 
  }
  .button-container {
    margin-bottom: 60px !important;
    
}
.paragraph {
 
  margin-bottom: 30px !important;
 
}
.heading {
  margin: 0px auto 0px !important;
}
.redirect-section {

  margin: 30px auto !important;

}
.Minter {

  padding: 0px 0px !important;
  margin: 0 !important;

}
}
body {
  font-family: pt-sans, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.body {
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #09053e;
  text-align: center;
}

.navbar {
  display: none;
  background-color: #000;
}

.page-width {
  display: block;
  width: 100%;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-width.header {
  display: none;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-width.header._22 {
  padding-bottom: 20px;
}

.page-width.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 55vh;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.page-width.main-content.home1 {
  display: block;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-width.footer {
  position: relative;
}

.page-width.footer._22 {
  display: none;
}

.page-width.banner-photo {

    max-width: 360px;

}

.imgwrapper {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.text-block {
  color: #fff;
  text-align: center;
}

.section {
  border-top: 2px solid #fff;
}

.buy-button {
  display: none;
}

.image {
  text-align: center;
}

.redirect-section {
  position: relative;
  max-width: none;
  height: 100%;
  margin-right: auto;
  margin-bottom: 140px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 550ms ease;
  transition: opacity 550ms ease;
  text-align: center;
}

.button {
  margin-right: auto;
  margin-left: auto;
  padding: 14px 50px;
  background-color: #db0019;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.heading {
  display: block;
  overflow: visible;
  margin: 0px auto 20px;
  -webkit-transition: opacity 650ms ease;
  transition: opacity 650ms ease;
  font-family: BudBold, sans-serif;
  color: #db0019;
  font-size: 28px;
  line-height: 50px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 2px;
  font-size: 60px;
    line-height: 60px;
    text-align: left;
}

.heading.home {
  display: none;
}

.heading.mobile {
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 72px;
}

.paragraph {
  display: block;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  font-family: pt-sans, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: 400;
  max-width: 540px;
}

.paragraph.home {
  display: none;
}

.paragraph._22 {
  display: none;
}

.bold-text {
  color: #444;
  font-size: 12px;
  text-align: right;
}

.html-embed {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -o-object-fit: fill;
  object-fit: fill;
}

.connect-wallet-button {
  display: block;
  padding: 16px 60px;
  border-radius: 0px;
  background-color: #db0019;
  font-family: BudBold, sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
}

.connect-wallet-button:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

.connect-wallet-button._22 {
  display: none;
}

.connect-wallet-button._222 {
  display: none;
  background-color: #40d5ff;
  color: #000;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  min-height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #020030;
}

.form-block {
  display: none;
}

.image-2 {
  width: 100%;
}

.powered-by-text {
  margin-bottom: 0px;
  margin-top: 0;
}

.footer-main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-bottom {
  width: 100%;
  height: 100px;
  margin-bottom: 0px;
  background-image: url('//cdn.shopify.com/s/files/1/0610/2227/3712/t/4/assets/pattern-footer.4e60d9.svg?v=5439678819075416979');
  background-position: 50% 0%;
  background-size: 90%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 479px) {
  .body {
    padding-bottom: 0px;
  }

  .page-width.header {
    margin-bottom: 60px;
    padding-bottom: 20px;
  }

  .page-width.main-content {
    height: auto;
    max-height: none;
    min-height: auto;
    padding-top: 0px;
    background-color: rgba(0, 0, 0, 0.41);
  }

  .redirect-section {
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 0px;
  }

  .heading {
    max-width: 100%;
    font-size: 94px;
    font-weight: 700;
  }

  .heading.mobile {
    overflow: visible;
    padding-top: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 72px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: 2px;
    white-space: normal;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .paragraph {
    font-size: 16px;
    line-height: 25px;
  }
}


#walletButton{
  font-family: BudBold, sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  font-weight: 700;
  text-decoration: none !important;
  text-transform: uppercase !important;
  display: block;
  padding: 14px 40px;
  border-radius: 20px;
  background-color: #db0019;
  color: #fff;
  font-size: 18px;
  margin-top: 0 !important;
  cursor: pointer;
  border-radius: 0 !important;
  line-height: 20px;
}
.button-2.w-button:hover{
  filter: brightness(120%);

}
#walletButton:hover{
  filter: brightness(120%);

}
.mobile-img{
  display: none;
}  
.desktop-img{
  display: block;
}
@media screen and (max-width: 769px) {
  div#status {
    padding: 30px;
  }
  .mobile-img{
    display:block;
  }
  .desktop-img{
    display: none;
  }
  .footer-bottom {

    background-size: 333vw;

}
}
.redirect-section.parent{
  border: 1px solid white;
    border-radius: 20px;
    width: 80%;
    max-width: 75%;
    
    min-height: 60vh;
    padding: 60px 40px;
}
.page-width.main-content {
  display: flex;
  min-height: 55vh;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  text-align: center;
  width: 100%;
  max-width: 100% !important;
}
.page-width.banner-photo {
  max-width: 360px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.heading.mobile.italic{
  font-family: BudBold;
  font-style: italic;
  
}
.nfts-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nft-child {
  width: 30%;
  border: 1px solid white;
  border-radius: 20px;
  overflow: hidden;
  margin: 0px 12px;
  margin-top: 28px;
}
img.nft-image {
  width: 100%;
  border-bottom: 1px solid white;
}
h3.nft-title {
  color: white;
  font-family: 'BudBold';
  text-align: center;
  font-size: 24px;
  
}

div#status {
  max-width: none;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}
.verified-parent{
  flex: 1;
    margin-left: 30px;
    margin-right: 30px;
}
.buttonParent {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
}
button.nft-button {
  background-color: #db0019;
  border-color: #db0019;
  color: white;
  font-family: BudBold;
  line-height: 22px;
  font-size: 18px;
  padding: 10px 26px;
  height: auto;
  max-height: none;
  border-radius: 0px;
  padding-bottom: 14px;
  border-style: none;
}
img.footer-img {
  max-width: 260px;
}
.product-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid white;
}
.split-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.split-child {
  width: 47%;
}
img.product-img {
  width: 100%;
}
.split-child p.paragraph {
  text-align: left;
}
.split-child h1.heading.mobile {
  text-align: left;
}
form.checkout-form {
  max-width: 800px;
  margin: auto;
}
form.checkout-form input {
  margin: 0;
  background-color: transparent;
  
  padding: 0;
 
}
h1.age-form {
    color: white;
    text-align: center;
}
.age-form-imput-parent input {
  max-width: 100px;
  margin: 0 10px;
  width: 30%;
  padding: 12px 15px;
  height: 100%;
}
.age-form-imput-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.age-form-imput-parent button.age-button {
  background-color: #db0019;
  color: white;
  border-color: #db0019;
  border-radius: 0;
  padding: 12px 40px;
  height: auto;
  max-height: none !important;
  margin: 0 10px;
}
h1.age-form {
  color: white;
  text-align: center;
  LINE-HEIGHT: 1.2em;
  margin-bottom: 30px;
  font-family: BudBold;
  font-size: 56px;
  font-size: 60px;
    line-height: 60px;
 
}
@media screen and (max-width: 769px) {
  .age-form-imput-parent input {
    max-width: 100px;
    margin: 0 2%;
    width: 18%;
    padding: 14px 3%;
}
  .age-form-imput-parent button.age-button {
    width: 100%;
    margin: 20px 10%;
  }
}
.form-imput-parent {
  display: flex;
  
}
.input-parent.first {
  margin-right: 25px;
}
.input-div {
  width: 100%;
  margin: 10px;
    position: relative;
}
.form-imput-parent .input-parent {
  width: 100%;
}
.input-parent {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
}
.form-imput-parent {
  width: 100%;
  display: flex;

}
form.checkout-form {
  max-width: 800px;
  margin: auto;
  position: relative;
}
.input-parent label {
  margin-bottom: 10px;
  color: white; 
}
.input-div-parent {
 
  width: 100%;

  display: flex;
  border: 1px solid white;
}
.input-div input {
  color: white;
}
form.checkout-form button {
  background-color: #db0019;
  border-color: #db0019;
  color: white;
  border-radius: 0;
  margin-top: 35px;
  padding: 15px 40px;
  height: auto;
    max-height: none !important;
    border-style: none !important;
}
#status form.checkout-form input::-internal-autofill-selected {
  background-color: transparent !important;
}
#status form.checkout-form input:-internal-autofill-selected {
  background-color: transparent !important;
}
form.checkout-form button:disabled {
  background: #9b9b9b;
    border-color: #9b9b9b !important;
    color: #5d5d5d;
}
p.paragraph.token-select-p {
  margin-bottom: 30px;
}
h1.heading.mobile.product {
  font-size: 60px;
  line-height: 60px;
  text-align: left;
}
.heading.mobile.connect{
  font-size: 88px; 
  line-height: 88px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #020030;
  -webkit-text-fill-color: rgb(255, 255, 255);
  box-shadow:0 0 0px 1000px white inset;
  -webkit-box-shadow: 0 0 0px 1000px #020030 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.age-form-imput-parent input:-webkit-autofill,
.age-form-imput-parent input:-webkit-autofill:hover, 
.age-form-imput-parent input:-webkit-autofill:focus,
.age-form-imput-parent textarea:-webkit-autofill,
.age-form-imput-parent textarea:-webkit-autofill:hover,
.age-form-imput-parent textarea:-webkit-autofill:focus,
.age-form-imput-parent select:-webkit-autofill,
.age-form-imput-parent select:-webkit-autofill:hover,
.age-form-imput-parent select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: black;
  box-shadow:0 0 0px 1000px white inset;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

button.nft-button {
  background-color: #db0019;
  border-color: #db0019;
  color: white;
  font-family: BudBold;
  line-height: 18px;
  font-size: 18px;
  padding: 14px 40px;
  height: auto;
  max-height: none;
  border-radius: 0px;
  padding-bottom: 14px;
  border-style: none;
}

@media screen and (max-width: 769px) {
  .redirect-section.parent {
    border: none;
    border-radius: 0;
    width: 100%;
    max-width: none; 
    padding: 0; 
    margin-top: 0 !important;
  }
  .redirect-section {
    margin-top: 0 !important;
}
  div#status {
    padding: 0 !important;
}
  .split-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.desktop-img {
   display: block; 
}
.split-child {
  width: 100%;
  margin: auto;
}
.nft-child {
  width: 46%;
  border: 1px solid white;
  border-radius: 20px;
  overflow: hidden;
  margin: 0px 1.5%;
  margin-top: 28px;
}
.form-parent {
  width: 90%;
  margin: auto;
}
h1.heading.mobile.product {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  margin-top: 30px !important;

}
.split-child p.paragraph {
  text-align: center;
  font-size: 15px;
    line-height: 24px;
    text-align: center;
}
h1.age-form {
  color: white;
  text-align: center;
  LINE-HEIGHT: 1.2em;
  margin-bottom: 30px;
  font-family: BudBold;
  font-size: 56px;
  font-size: 30px;
  line-height: 40px;
}
.paragraph {
  display: block;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  font-family: pt-sans, sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  max-width: 540px;
}
.heading.mobile.connect{
  font-size: 70px; 
  line-height: 70px;
}
.heading.mobile {
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 65px;
}
.product-container {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid white;
}
}